:root {
  /* fonts */
  --main-font: "Work Sans", sans-serif;
  --secondary-font: "Space Mono", monospace;
  /* text color */
  --main-txt-cl: #ffffff;
  --secondary-txt-cl: #858584;
  --btn-color: #A259FF;
  --btn-txt-cl: #2B2B2B;
  --transition-fast: 300ms ease-in-out;
  --transition-slow: 500ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  position: relative;
  background-color: #2B2B2B;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--main-txt-cl);
}

.subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: var(--main-txt-cl);
}

.list-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--main-txt-cl);
}

.name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--main-txt-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1050px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 19px 30px;
  color: var(--main-txt-cl);
  border-radius: 20px;
}

.btn-purple {
  border: none;
  background-color: var(--btn-color);
}

.btn-transparent {
  background-color: transparent;
  border: 2px solid var(--btn-color);
}

.header {
  padding: 20px 50px;
}

.header__burger {
  display: none;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__wrapper {
  display: flex;
  align-items: end;
  gap: 12px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: var(--main-txt-cl);
}

.header__link:hover,
.header__link:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: var(--transition-fast);
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 15px 30px;
  }
  .header__right {
    display: none;
  }
  .header__burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    z-index: 4;
  }
}
.hero {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  grid-template-areas: "grid-1 grid-3" "grid-2 grid-3" "grid-4 grid-3" "grid-5 grid-3";
}

.grid-1 {
  grid-area: grid-1;
}

.grid-2 {
  grid-area: grid-2;
}

.grid-3 {
  grid-area: grid-3;
}

.grid-4 {
  grid-area: grid-4;
}

.grid-5 {
  grid-area: grid-5;
}

.hero__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  text-transform: capitalize;
  color: var(--main-txt-cl);
}

.hero__list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.item__num {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--main-txt-cl);
}

.item__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 23.99px;
  line-height: 160%;
  text-transform: capitalize;
  color: var(--main-txt-cl);
}

.hero__left {
  align-self: flex-start;
  border-radius: 40px 40px 22px 22px;
  background: #3B3B3B;
}

.hero__image {
  width: 100%;
  border-radius: 40px 40px 0px 0px;
}

.hero__wrapper {
  padding: 20px 20px;
}

.hero__left-wrapper {
  display: flex;
  gap: 12px;
}

@media only screen and (max-width: 1024px) {
  .hero__title {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
  }
  .item__num {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
  }
  .item__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}
@media only screen and (max-width: 950px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .hero__container {
    grid-template-columns: 1fr;
    column-gap: unset;
    grid-template-areas: "grid-1" "grid-2" "grid-3" "grid-4" "grid-5";
  }
  .hero__button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 350px;
  }
}
@media only screen and (max-width: 425px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero__container {
    row-gap: unset;
  }
  .hero__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    margin-bottom: 10px;
  }
  .hero__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 40px;
  }
  .hero__left {
    margin-bottom: 40px;
  }
  .grid-4 {
    display: flex;
    margin-bottom: 40px;
  }
  .hero__button {
    width: 100%;
  }
}
.collection {
  padding-top: 80px;
  padding-bottom: 80px;
}

.collection__container {
  display: flex;
  flex-direction: column;
}

.collection__title {
  margin-bottom: 10px;
}

.collection__subtitle {
  margin-bottom: 60px;
}

.collection__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.list__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 15px;
  grid-template-areas: "grid__collection-1 grid__collection-1 grid__collection-1" "grid__collection-1 grid__collection-1 grid__collection-1" "grid__collection-1 grid__collection-1 grid__collection-1" "grid__collection-2 grid__collection-3 grid__collection-4";
  margin-bottom: 15px;
}

.grid__collection-1 {
  grid-area: grid__collection-1;
}

.grid__collection-2 {
  grid-area: grid__collection-2;
}

.grid__collection-3 {
  grid-area: grid__collection-3;
}

.grid__collection-4 {
  grid-area: grid__collection-4;
}

.collection__image {
  width: 100%;
  border-radius: 25px;
}

.collection__item-purple {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background: var(--btn-color);
}

.collection__item-text {
  padding: 32px 15px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  color: var(--main-txt-cl);
}

.collection__item-main {
  margin-bottom: 15px;
}

.collection__item-wrapper {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.collection__nomin {
  margin-bottom: 10px;
}

.wrapper__avatar {
  display: flex;
  gap: 12px;
}

@media only screen and (max-width: 835px) {
  .collection {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .collection__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }
  .collection__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 40px;
  }
  .collection__image-list {
    width: 100px;
    height: 100px;
  }
  .collection__wrapper:last-child {
    display: none;
  }
  .collection__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 425px) {
  .collection__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .collection__wrapper:nth-child(2) {
    display: none;
  }
}
.creators {
  padding-top: 80px;
  padding-bottom: 80px;
}

.creators__container {
  display: flex;
  flex-direction: column;
}

.creators__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.creators__title {
  margin-bottom: 10px;
}

.creators__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.creators__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  background: #3B3B3B;
}

.creators__num {
  position: absolute;
  left: 20px;
  top: 18px;
  border-radius: 20px;
  background: var(--btn-txt-cl);
  padding: 4px 10px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
}

.creators__avatar {
  margin-bottom: 20px;
}

.creators__name {
  margin-bottom: 5px;
}

.wrapper__sales {
  display: flex;
  gap: 10px;
}

.creators__sales {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
}

.creators__eth {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--main-txt-cl);
}

/*# sourceMappingURL=style.css.map */
