:root{
    /* fonts */
    --main-font: 'Work Sans', sans-serif;
    --secondary-font: 'Space Mono', monospace;
  
    /* text color */
    --main-txt-cl: #ffffff;
    --secondary-txt-cl: #858584;
    --btn-color: #A259FF;
    --btn-txt-cl: #2B2B2B;
  
    --transition-fast: 300ms ease-in-out;
    --transition-slow: 500ms ease-in-out;
  }