.collection{
    padding-top: 80px;
    padding-bottom: 80px;
}

.collection__container{
    display: flex;
    flex-direction: column;
}

.collection__title{
    margin-bottom: 10px;
}

.collection__subtitle{
    margin-bottom: 60px;
}

.collection__list{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.list__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    grid-template-areas: 
    "grid__collection-1 grid__collection-1 grid__collection-1"
    "grid__collection-1 grid__collection-1 grid__collection-1"
    "grid__collection-1 grid__collection-1 grid__collection-1"
    "grid__collection-2 grid__collection-3 grid__collection-4";
    margin-bottom: 15px;
}

.grid__collection-1{
    grid-area: grid__collection-1;
}

.grid__collection-2{
    grid-area: grid__collection-2;
}

.grid__collection-3{
    grid-area: grid__collection-3;
}

.grid__collection-4{
    grid-area: grid__collection-4;
}

.collection__image{
    width: 100%;
    border-radius: 25px;
}

.collection__item-purple{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: var(--btn-color);
}

.collection__item-text{
    padding: 32px 15px;
    font-family: var( --secondary-font);
    @include fonts(normal, 700, 22px, 160%);
    color: var(--main-txt-cl);
}

.collection__item-main{
    margin-bottom: 15px;
}

.collection__item-wrapper{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.collection__nomin{
    margin-bottom: 10px;
}

.wrapper__avatar{
    display: flex;
    gap: 12px;
}

@media only screen and (max-width: 835px){
    .collection{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .collection__title{
        @include fonts(normal, 600, 28px, 140%);
    }

    .collection__subtitle{
        @include fonts(normal, 400, 16px, 140%);
        margin-bottom: 40px;
    }

    .collection__image-list{
        width: 100px;
        height: 100px;
    }

    .collection__wrapper:last-child{
        display: none;
    }

    .collection__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 767.99px){
    .collection__list{
        grid-template-columns: repeat(1, 1fr);
    }

    .collection__wrapper:nth-child(n+2){
        display: none;
    }
}