.discover{
    padding-top: 80px;
    padding-bottom: 80px;
}

.discover__title{
    margin-bottom: 10px;
}

.discover__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.discover__button{
    padding: 19px 50px;
}

.discover__list{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.discover__item{
    border-radius: 20px;
    background: #3B3B3B;
}

.discover__img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.discover__name-img{
    margin-bottom: 5px;
}

.discover__wrapper-item{
    padding: 20px 30px 25px 30px;
}

.discover__wrapper-avatar{
    display: flex;
    gap: 12px;
    margin-bottom: 27px;
}

.item__bottom-wrapper{
    display: flex;
    justify-content: space-between;
}

.discover__price,
.discover__bid{
    font-family: var(--secondary-font);
    @include fonts(normal, 400, 12px, 110%);
    color: var(--secondary-txt-cl);
    margin-bottom: 8px;
}

.discover__eth,
.discover__weth{
    font-family: var(--secondary-font);
    @include fonts(normal, 400, 16px, 140%);
    color: var(--main-txt-cl);
}

@media only screen and (max-width: 835px){
    .discover{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .discover__wrapper{
        margin-bottom: 40px;
    }

    .discover__title{
        @include fonts(normal, 600, 28px, 140%);
    }

    .discover__subtitle{
        @include fonts(normal, 400, 16px, 140%);
    }

    .discover__list{
        justify-content: center;
    }

    .discover__item:last-child{
        display: none;
    }
}

@media only screen and (max-width: 424.98px){
    .discover__wrapper{
        flex-direction: column;
        align-items: unset;
    }

    .discover__subtitle{
        margin-bottom: 30px;
    }

    .discover__button{
        display: flex;
        justify-content: center;
    }

    .discover__list{
        flex-direction: column;
    }

    .discover__item{
        margin: 0 auto;
    }

    .discover__item:last-child{
        display: block;
    }
}

