.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #3B3B3B;
}

.footer__container{
    border-bottom: 1px solid #858584;
}

.footer__grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-bottom: 30px;
}

.footer__title{
    font-family: var(--secondary-font);
    @include fonts(normal, 700, 22px, 160%);
    text-transform: capitalize;
    color: var(--main-txt-cl);
    margin-bottom: 25px;
}

.explore__item{
    margin-bottom: 25px;
}

.footer__nft{
    margin-right: 84px;
}

.footer__nft-title{
    margin-top: 25px;
    margin-bottom: 20px;
}

.digest__subtitle{
    margin-bottom: 20px;
}

.footer__subtitle{
    font-family: var(--main-font);
    @include fonts(normal, 400, 16px, 140%);
    color: #cccccc;
}

.footer__form{
    gap: unset;
}

.social__title{
    margin-bottom: 15px;
}

.social__list{
    display: flex;
    gap: 10px;
}

.footer__template{
    font-family: var(--main-font);
    @include fonts(normal, 400, 12px, 110%);
    color: #cccccc;
    margin-top: 30px;
}

.footer__container-template{
    width: 100%;
    max-width: calc(1010px + $paddingContainer * 2);
    box-sizing: border-box;
  
    margin: 20px auto 0 auto;
}

$paddingContainer: 20px;

.footer__container-container{
    width: 100%;
    max-width: calc(1010px + $paddingContainer * 2);
    box-sizing: border-box;
  
    margin: 0 auto;
    padding: 0 $paddingContainer;
  }

@media only screen and (max-width: 1024px){
    .footer__form{
        flex-direction: column;
        background-color: transparent;
    }

    .footer__input{
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 10px;
    }

    .footer__btn{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 835px){
    .footer__grid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__form{
        flex-direction: row;
        background-color: #ffffff;
    }

    .footer__container-container{
        max-width: calc(650px + $paddingContainer * 2);
    }

    .footer__container-template{
        max-width: calc(650px + $paddingContainer * 2);
    }
}

@media only screen and (max-width: 619px){
    .footer__form {
    margin: unset;
}
}

@media only screen and (max-width: 425px){
    .footer__container-container{
        max-width: calc(300px + $paddingContainer * 2);
    }

    .footer__container-template{
        max-width: calc(300px + $paddingContainer * 2);
    }

    .footer__nft{
        margin-right: unset;
    }

    .footer__form{
        flex-direction: column;
        background-color: transparent;
        margin: unset;
    }
}