.header{
    padding: 20px 50px;
}

.header__burger{
    display: none;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__wrapper{
    display: flex;
    align-items: end;
    gap: 12px;
}

.header__right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__link{
    font-family: var(--main-font);
    @include fonts(normal, 700, 16px, 140%);
    color: var(--main-txt-cl);
}

.header__link:hover,
.header__link:focus{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  // opacity: .8;
  transition: var(--transition-fast);
}

@media only screen and (max-width: 1024px){
    .header{
      padding: 15px 30px;
    }
    .header__right{
        display: none;
    }

    .header__burger{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 0;
        width: 24px;
        height: 24px;
        z-index: 4;
      }
    
      
}