.hero{
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;

    grid-template-areas: 
    "grid-1 grid-3"
    "grid-2 grid-3"
    "grid-4 grid-3"
    "grid-5 grid-3";
}

.grid-1{
    grid-area: grid-1;
}

.grid-2{
    grid-area: grid-2;
}

.grid-3{
    grid-area: grid-3;
}

.grid-4{
    grid-area: grid-4;
}

.grid-5{
    grid-area: grid-5;
}

.hero__title{
    font-family: var(--main-font);
    @include fonts(normal, 600, 67px, 110%);
    text-transform: capitalize;
    color: var(--main-txt-cl);
}

.hero__list{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.item__num{
    font-family: var(--secondary-font);
    @include fonts(normal, 700, 28px, 140%);
    text-transform: capitalize;
    color: var(--main-txt-cl);
}

.item__text{
    font-family: var(--main-font);
    @include fonts(normal, 400, 23.99px, 160%);
    text-transform: capitalize;
    color: var(--main-txt-cl);
}

.hero__left{
    align-self: flex-start;
    border-radius: 40px 40px 22px 22px;
    background:  #3B3B3B;
}

.hero__image{
    width: 100%;
    border-radius: 40px 40px 0px 0px;
}

.hero__wrapper{
    padding: 20px 20px;
}

.hero__left-wrapper{
    display: flex;
    gap: 12px;
}

@media only screen and (max-width: 1024px){
    .hero__title{
        @include fonts(normal, 600, 38px, 120%);
    }

    .item__num{
        @include fonts(normal, 700, 22px, 160%);
    }

    .item__text{
        @include fonts(normal, 400, 16px, 140%);
    }

}

@media only screen and (max-width: 950px){
    .hero{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero__container{
        // justify-items: center;
        grid-template-columns: 1fr;
        column-gap: unset;
        grid-template-areas: 
        "grid-1"
        "grid-2"
        "grid-3"
        "grid-4"
        "grid-5";
    }

    .hero__button {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 350px;
    }
}

@media only screen and (max-width: 425px){
    .hero{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hero__container{
        row-gap: unset;
    }

    .hero__title{
        @include fonts(normal, 600, 28px, 140%);
        margin-bottom: 10px;
    }

    .hero__subtitle {
        @include fonts(normal, 400, 16px, 140%);
        margin-bottom: 40px;
    }

    .hero__left {
        margin-bottom: 40px;
    }

    .grid-4{
        display: flex;
        margin-bottom: 40px;
    }

    .hero__button {
        width: 100%;
    }
}