.discover__img-wrapper{
    position: relative;
}

.magic__gradient{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%);
    z-index: 2;
}

.magic__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "magic__grid-1 magic__grid-4"
    "magic__grid-2 magic__grid-4"
    "magic__grid-3 magic__grid-4"
    ;

    position: absolute;
    left: 116px;
    bottom: 60px;
    z-index: 3;
}

.magic__grid-1{
    grid-area: magic__grid-1;
}

.magic__grid-2{
    grid-area: magic__grid-2;
}

.magic__grid-3{
    grid-area: magic__grid-3;
}

.magic__grid-4{
    grid-area: magic__grid-4;
}


.magic__wrapper-name{
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 10px 20px;
    border-radius: 20px;
    background: #3B3B3B;

    margin-bottom: 30px;
}

.magic__title{
    margin-bottom: 30px;
}

.magic__button{
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 22px 50px;
    border: none;
    border-radius: 20px;
}

.magic__button-text{
    font-family: var(--main-font);
    @include fonts(normal, 600, 16px, 140%);
    color: var(--btn-txt-cl);
}

.magic__right{
    padding: 30px;
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.50);
    backdrop-filter: blur(5px);
}

.magic__right-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.magic__right-title{
    font-family: var(--secondary-font);
    @include fonts(normal, 400, 12px, 110%);
    color: var(--main-txt-cl);
}

.magic__time{
    font-family: var(--secondary-font);
    @include fonts(normal, 700, 38px, 120%);
    text-transform: capitalize;
    color: var(--main-txt-cl);
}