h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body{
  position: relative;
  background-color: #2B2B2B;
}

img {
  display: block;
  height: auto;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title{
  font-family: var(--main-font);
  @include fonts(normal, 600, 38px, 120%);
  text-transform: capitalize;
  color: var(--main-txt-cl);
}

.subtitle{
  font-family: var(--main-font);
  @include fonts(normal, 400, 22px, 160%);
  text-transform: capitalize;
  color: var(--main-txt-cl);
}

.list-title{
  font-family: var(--main-font);
  @include fonts(normal, 600, 22px, 140%);
  text-transform: capitalize;
  color: var(--main-txt-cl);
}

.name{
  font-family: var(--main-font);
  @include fonts(normal, 400, 16px, 140%);
  color: var(--main-txt-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}